body{
  font-family: 'Noto Sans', sans-serif;
  background: url("../images/background.png");
  color: white;
}

.egg{
  width: 125px;
  margin: 10px 0px 20px 0px;
}

.loss{
  margin-bottom: 20px;
}

.randomNumber .finalTotal .wins .losses {
}

.rex{
  text-align: center;
  padding-top: 100px;
}

.instructionTitle{
  color: #bf222a;
}

.randomNumber, .finalTotal {
  background-color: #bf222a;
  padding: 10px;
  margin-bottom: 15px;
}
